/*
  index.css
  Derek Tan
*/

/* Main Variables */
:root {
  --default-font: Arial, sans-serif;
  --special-font: Calibri;
}

/* Base Styles */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  font-size: 16pt;
  background-color: #212123;
  color: white;
}

/* Header Styles */
header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  margin: 0;
  border: none;
  border-radius: 8px;
  padding: 4px;
  background-color: #a0583c;
  color: #ccb9b1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a.nav-link {
  display: block;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #a0583c;
  padding: 8px;
  transition: border-bottom-color 0.5s;
  transition-timing-function: ease-in;
  text-decoration: none;
  color: inherit;
}

a.nav-link:visited {
  border-bottom-color: rgb(225, 75, 25);
}

a.nav-link:hover {
  background-color: #be623c;
  border-bottom-color: rgb(235, 140, 60);
}

/* Main Column */
main#scrollable {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 56px;
  padding: 0 10%;
  font-family: var(--special-font);
  font-family: 14pt;
  color: inherit;
}

section.page-section {
  display: block;
  margin-bottom: 16px;
  padding: 16px;
}

div.captioned-img {
  display: block;
  text-align: center;
  padding: 8px;
}

img#profile-image {
  aspect-ratio: auto;
  border: 2px solid lightgray;
  border-radius: 16px;
  width: 160px;
  transition: width 1s;
}

img#profile-image:hover {
  width: 200px;
}

h1 + h2.secondary-title {
  position: relative;
  top: 0px;
  display: block;
  text-align: center;
  font-family: inherit;
  color: inherit;
}

h3.section-title {
  display: inline-block;
  margin: 4px 0;
  padding: 4px;
  text-align: left;
  font-family: inherit;
  color: inherit;
}

h3.section-title:hover::before {
  content: "Read: ";
  color: rgb(225, 115, 25);
}
